body {
    background-color: dimgray;
}

.row {
    display: flex;
    flex-direction: row;

}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titulo1 {
    background-color: aqua;
    margin-left: 113px;
    margin-right: 100px;
    max-width: 80;
    padding: 2rem;


}

.titulo2 {
    background-color: yellow;
    max-width: 80%;
    max-height: 25%;
    margin-left: 193px;
    margin-right: 100px;
    padding: 2rem;
}

.titulo3 {
    background-color: orange;
    margin-left: 193px;
    margin-right: 100px;
    max-height: 25%;
    max-width: 80%;
    padding: 4rem;
}

.contenedor {
    background-color: red;
    max-height: 25%;
    max-width: 80%;
    margin-left: 193px;
    margin-right: 100px;
    padding: 2rem;
}

.enlace-animal {
    margin-top: 50px;
}

aside {
    background-color: dimgray;
    max-width: 20%;
    margin-top: 50px;
}

aside li {
    color: white;
}

aside li:hover {
    color: blue;
}